@{
    ViewData["Title"] = "Opções";
}

<h2>Opções</h2>

<hr />
<a asp-controller="Editoras" asp-action="Index">Editoras</a> <br />
<a asp-controller="Autores" asp-action="Index">Autores</a> <br />
<a asp-controller="Livros" asp-action="Index">Livros</a>
<hr />